* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#header {
    background: var(--neutral-100, #FFF);
    padding: 30px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.logo {
    width: 78.082px;
height: 26.491px;
}

.nav-links a {
    color: var(--neutral-500, #2F2E41);
font-size: 16px;
font-weight: 700;
text-decoration: none;
cursor: pointer;

transition: color 0.3s linear;
}

.nav-links a:hover {
    color: #8b8b8b;
    border-bottom: 4px solid purple;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 46px;
}

.btn1 {
    border-radius: 2px;
border: 1px solid var(--primary-400, #6C63FF);
padding: 16px 30px;
gap: 10px;
background-color: white;
margin: 0 10px;
cursor: pointer;
color: var(--primary-400, #6C63FF);
text-align: center;
font-size: 14px;
font-weight: 700;
transition: .4s;

transition: background-color 0.3s linear;
}

.btn1:hover {
    transform: scale(1.2);
}

.btn1:hover {
    background-color: rgb(153, 153, 153);
}

.btn2 {
    border-radius: 2px;
border: 1px solid var(--primary-400, #6C63FF);
background: var(--primary-400, #6C63FF);
padding: 16px 30px;
gap: 10px;
cursor: pointer;
color: var(--neutral-100, #FFF);
text-align: center;
font-size: 14px;
font-weight: 700;
border: none;
transition: .4s;

transition: background-color 0.3s linear;
}

.btn2:hover {
    transform: scale(1.2);
}

.btn2:hover {
    background-color: #8c8aa7;
}




.block-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0;
}

.block-text h1 {
    color: var(--neutral-500, #2F2E41);

/* H1 --desktop */
font-size: 86px;
font-weight: 700;
line-height: 88px; /* 102.326% */
letter-spacing: -1px;
}

.block-text p {
    color: var(--neutral-300, #9893A3);
font-feature-settings: 'clig' off, 'liga' off;

/* Body large */
font-size: 20px;
font-weight: 400;
line-height: 34px; /* 170% */
margin: 30px 0;
}

.block-text button {
    border-radius: 2px;
border: 1px solid var(--primary-400, #6C63FF);
background: var(--primary-400, #6C63FF);
display: flex;
padding: 16px 30px;
justify-content: center;
align-items: center;
gap: 10px;
color: var(--neutral-100, #FFF);
text-align: center;
font-size: 14px;
font-weight: 700;
border: none;

transition: background-color 0.3s linear;
transition: .4s;
}

.block-text button:hover {
    transform: scale(1.2);
}

.block-text button:hover {
    background-color: #a09ebd;
}




.mini-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}






.block2-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 195px 0;
}

.block2-text {
    margin-right: 210px;
}

.block2-text h1 {
    color: var(--neutral-500, #2F2E41);

/* H2 --desktop */
font-size: 60px;
font-weight: 700;
line-height: 64px; /* 106.667% */
letter-spacing: -1px;
}

.block2-text p {
    color: var(--neutral-300, #9893A3);
font-feature-settings: 'clig' off, 'liga' off;

/* Body large */
font-size: 20px;
font-weight: 400;
line-height: 34px; /* 170% */
margin: 24px 0;
}

.block2-text button {
    display: flex;
padding: 16px 30px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 2px;
border: 1px solid var(--primary-400, #6C63FF);
background: var(--primary-400, #6C63FF);
color: var(--neutral-100, #FFF);
text-align: center;
font-size: 14px;
font-weight: 700;
border: none;
transition: background-color 0.3s linear;
cursor: pointer;
transition: .4s;
}

.block2-text button:hover {
    transform: scale(1.2);
}

.block2-text button:hover {
    background-color: #b1afdf;
}






.block3-hover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 270px 0;
}

.block3-text h1 {
    color: var(--neutral-500, #2F2E41);

/* H2 --desktop */
font-size: 60px;
font-weight: 700;
line-height: 64px; /* 106.667% */
letter-spacing: -1px;
}

.block3-text p {
    color: var(--neutral-300, #9893A3);
font-feature-settings: 'clig' off, 'liga' off;

/* Body large */
font-size: 20px;
font-weight: 400;
line-height: 34px; /* 170% */
margin: 24px 0;
}

.block3-text button {
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid var(--primary-400, #6C63FF);
    background: var(--primary-400, #6C63FF);
    color: var(--neutral-100, #FFF);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: none;
    transition: background-color 0.3s linear;
    cursor: pointer;
    transition: .4s;
    }

    .block3-text button:hover{
        transform: scale(1.2);
    }
    
    .block3-text button:hover {
        background-color: #b1afdf;
    }





    .block4-holder {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .block4-text {
        margin-right: 145px;
    }

    .block4-text h1 {
        color: var(--neutral-500, #2F2E41);

/* H2 --desktop */
font-size: 60px;
font-weight: 700;
line-height: 64px; /* 106.667% */
letter-spacing: -1px;
    }


    .block4-text p {
        color: var(--neutral-300, #9893A3);
font-feature-settings: 'clig' off, 'liga' off;

/* Body large */
font-size: 20px;
font-weight: 400;
line-height: 34px; /* 170% */
margin: 24px 0;
    }


    .block4-text button {
        display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid var(--primary-400, #6C63FF);
    background: var(--primary-400, #6C63FF);
    color: var(--neutral-100, #FFF);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: none;
    transition: background-color 0.3s linear;
    cursor: pointer;
    transition: .4s;
    }
    .block4-text button:hover{
        transform: scale(1.2);
    }
    
    .block4-text button:hover {
        background-color: #b1afdf;
    }

    




    .block5 h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--neutral-500, #2F2E41);
        margin-top: 240px;

/* H2 --desktop */
font-size: 60px;
font-weight: 700;
line-height: 64px; /* 106.667% */
letter-spacing: -1px;
    }

    .main-block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 110px 0;
    }

.main-block p {
    color: var(--neutral-400, #717082);

/* Body medium */
font-size: 18px;
font-weight: 400;
line-height: 26px; /* 144.444% */
transition: color 0.3s linear;
}

.main-block p:hover {
    color: white;
}

.main-block h1 {
    color: var(--neutral-500, #2F2E41);
font-size: 50px;
font-weight: 700;
line-height: 56px; /* 112% */
letter-spacing: -2px;
transition: color 0.3s linear;
}

.main-block h1:hover {
    color: white;
}

.main-block button {
padding: 16px 30px;
gap: 10px;
border-radius: 2px;
border-color: #6C63FF;
color: var(--primary-400, #6C63FF);
font-size: 14px;
font-weight: 700;
background-color: white;
}

.block-block {
    display: flex;
width: 363px;
padding: 46px 88px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
flex-shrink: 0;
border-radius: 2px;
background: rgba(236, 235, 255, 0.30);
transition: background-color 0.3s linear;
transition: .4s;
}

.block-block:hover {
    background-color: #6C63FF;
}

.block-block:hover {
    transform: scale(1.2);
}


.block-block2 {
    display: flex;
    width: 363px;
    padding: 46px 88px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    background: rgba(236, 235, 255, 0.30);
    
    transition: background-color 0.3s linear;
    transition: .4s;
}


.block-block2:hover {
    background-color: #6C63FF;
}

.block-block2:hover{
    transform: scale(1.2);
}

.block-block3 {
    display: flex;
    width: 363px;
    padding: 46px 88px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    background: rgba(236, 235, 255, 0.30);
    transition: background-color 0.3s linear;
    transition: .4s;
}

.block-block3:hover {
    background-color: #6C63FF;
}

.block-block3:hover {
    transform: scale(1.2);
}




.header-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 820px;
    margin-bottom: 100px;
    margin-top: 240px;
}

.header-blog h1 {
    color: var(--neutral-500, #2F2E41);

/* H2 --desktop */
font-size: 60px;
font-weight: 700;
line-height: 64px; /* 106.667% */
letter-spacing: -1px;
}

.header-blog button {
    color: var(--primary-400, #6C63FF);
text-align: center;
font-size: 14px;
font-weight: 700;
display: flex;
padding: 16px 30px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 2px;
border: 1px solid var(--primary-400, #6C63FF);
background-color: white;
transition: background-color 0.3s linear;
transition: .4s;
}

.header-blog button:hover {
    background-color: #8b8b8b;
}

.header-blog button:hover {
    transform: scale(1.2);
}




.main-colon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 370px;
}

.main-colon h2 {
    color: var(--neutral-500, #2F2E41);
font-size: 22px;
font-weight: 600;
letter-spacing: -1px;
margin-top: 25px;
}

.main-colon p {
    color: var(--neutral-300, #9893A3);

/* Body small */
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 20px 0;
}

.main-colon button {
    color: var(--primary-400, #6C63FF);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid var(--primary-400, #6C63FF);
    background-color: white;
    transition: background-color 0.3s linear;
    transition: .4s;
}

.main-colon button:hover {
    background-color: #b2b2b2;
}

.main-colon button:hover {
    transform: scale(1.2);
}









#min-colon {
    display: flex;
    justify-content: center;
    width: 900px;
height: 296px;
flex-shrink: 0;
border-radius: 2px;
background: var(--neutral-500, #2F2E41);
position: absolute;
z-index: 999;
margin-top: -150px;
margin-left: 380px;

}


.min-text h1 {
    color: var(--neutral-100, #FFF);

/* H3 --desktop */
font-size: 50px;
font-weight: 700;
line-height: 56px; /* 112% */
margin-bottom: -70px;
margin-top: 80px;
margin-left: 40px;
}

.min-text button {
    border-radius: 2px;
border: 1px solid var(--primary-400, #6C63FF);
background: var(--primary-400, #6C63FF);
display: flex;
width: 186px;
padding: 16px 30px;
justify-content: center;
align-items: center;
gap: 10px;
color: var(--neutral-100, #FFF);
text-align: center;
font-size: 16px;
font-weight: 700;
margin-left: 600px;
border: none;

transition: background-color 0.3s linear;
transition: .4s;
}

.min-text button:hover {
    background-color: #9693c0;
}

.min-text button:hover {
    transform: scale(1.2);
}











footer {
    background: rgba(236, 235, 255, 0.60);
    width: 1690px;
height: 598px;
flex-shrink: 0;
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 40px 100px;
    
}

.footer-col {
    margin-top: 200px;
}

.footer-col h4 {
    color: var(--neutral-500, #2F2E41);
font-feature-settings: 'clig' off, 'liga' off;

/* Body title */
font-size: 18px;
font-weight: 600;
line-height: 24px; /* 133.333% */
margin-bottom: 15px;
}

.footer-col li {
    color: var(--neutral-400, #717082);

/* Body small */
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
list-style: none;
}


.imgs {
    margin: 10px 2px;
}

.imgs2 {
    margin-bottom: 20px;
    margin-left: 5px;
}

.img3 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.li {
    margin: 3px 0;
}
.li2 {
    margin: 3px 0;
}
.li3 {
    margin: 3px 0;
}
.li4 {
    margin: 3px 0;
}
.li5 {
    margin: 3px 0;
}
.li6 {
    margin: 3px 0;
}
.li7 {
    margin: 3px 0;
}
.li8 {
    margin: 3px 0;
}
.li9 {
    margin: 3px 0;
}
.li10 {
    margin: 3px 0;
}
.li11 {
    margin: 3px 0;
}
.li12 {
    margin: 3px 0;
}

.imaages {
    margin-bottom: -90px;
    margin-left: 50px;
}


.pip {
    color: var(--neutral-300, #9893A3);
font-size: 12px;
font-weight: 400;
margin-top: 70px;
margin-left: 1450px;
}

